annotated-types
asgiref
click
colorama
Django
django-cors-headers
djongo
dnspython
email-validator
gunicorn
h11
idna
packaging
pydantic
pydantic_core
pymongo
pytz
sqlparse
typing_extensions
tzdata
uvicorn