annotated-types
asgiref
click
colorama
Django
django-cors-headers
djongo
dnspython
email-validator
gunicorn
h11
idna
packaging
pydantic
pydantic_core
pymongo==3.12.3
pytz
sqlparse
typing_extensions
tzdata
uvicorn